body {
    background-color: #070707;
    font-family: 'Inter', --apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
}

.intro {
    padding-top: 9%;
    padding-left: 15%;
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    z-index: 10;
    display: inline-block;
}

.intro h1 {
    color: rgb(22, 77, 196);
    font-size: 4rem;
    max-width: 60%;
    align-content: center;

}

.intro p {
    font-weight: 400;
    color: aliceblue;
    max-width: 60%;


}

.links {
    margin-top: 4%;
}

a {
    text-decoration: none;
}

svg {
    width: 30px;
    height: 30px;
    color: white;
    transition-duration: 0.4s;
    margin-right: 0.5em
}

svg:hover {
    color: rgb(22, 77, 196);
}

.body-section {
    height: auto;
    margin: auto;
    margin-top: 5%;
    width: 100%;
    max-width: 60em

}

.body-section h1 {
    color: #ffffff;
    font-size: 2.5rem;
}

.skills-rect{
    display: flex;
    border-color: rgb(22, 77, 196);
    border-style: solid;
    border-width: thick;
    border-radius: 15px;
}

.icons-container{
    margin:auto;
    padding: 50px;
    width: 100%;
}
.icons-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.skills-rect img{
    width: 85px;
    height: 85px;
    padding: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.test {
    background-color: rgb(218, 6, 6);
}


#particles {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    position: relative;
    top: 100vh;
    z-index: -999;
    margin-top: -100vh;

    /* box-sizing: border-box;
    height: 200vh;
    width: 100%;
    position: relative;
    bottom: -200vh;
    z-index: -999;
    margin-top: -200vh; */

}



@keyframes fade-in {
    from {
        transform: translate(0px, 40px);
    }

    to {
        opacity: 1;

    }
}
.hidden{
    opacity: 0;
}

.fade-in.visible {
    /* add your fade-in animation here */
    animation: fade-in 0.5s ease-in;
    animation-delay: 0.1s;
}

footer{
    height: 5em;
    width: auto;
    display: flex;
    align-items: center;
    margin: auto;
}
footer p{
    text-align: center;
    color: rgb(102, 102, 102);
    font-size: 14px;
}